@import "../../styles/main.scss";

.news {
  margin-top: 40px;
  .news-latest {
    width: auto;
  }
  .news-panel {
    width: auto;
  }
  .news-highlight {
    width: auto;
  }
}

.article-latest {
  display: flex;
  .article-text {
    width: 100%;
    padding: 2.813rem;
    display: flex;
    flex-direction: column;
  }
  .article-title {
    @include h-style;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .article-content {
    @include p-style;
    margin: 2.25rem auto;
  }
  .article-footer {
    display: flex;
    justify-content: space-between;
    .date {
      @include p-style;
    }
    .read-more {
      @include h-style;
    }
  }
  .image-container-latest {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      object-fit: fill;
    }
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    .article-text {
      width: 100%;
    }
    .image-container-latest {
      order: -1;
    }
  }
}

.article-others {
  .article-title {
    @include h-style;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 1.25rem;
  }
  .article-content {
    @include p-style;
    padding: 1.125rem;
  }
  .article-footer {
    display: flex;
    padding: 1.125rem;
    justify-content: space-between;
    .date {
      @include p-style;
    }
  }
}

.article-highlight {
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .article-text {
    width: 100%;
    padding: 6.25rem 4.063rem;
    .article-title {
      @include h-style;
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-top: 1.25rem;
    }
    .article-content {
      @include p-style;
      margin-top: 25px;
    }
    .article-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 31px;
      .date {
        @include p-style;
      }
      .read-more {
        @include h-style;
      }
    }
  }
  .image-container-highlight {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      object-fit: fill;
    }
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    p {
      text-align: start;
    }
    .article-text {
      width: 100%;
    }
    .image-container-highlight {
      order: -1;
    }
  }
}
