@import "../../styles/main.scss";

.news {
  margin-top: 40px;
  .news-latest {
    width: auto;
  }
  .news-panel {
    width: auto;
  }
  .news-highlight {
    width: auto;
  }
}

.article-latest {
  display: flex;
  .article-text {
    width: 50%;
    padding: 45px;
    display: flex;
    flex-direction: column;
  }
  .article-title {
    @include h-style;
    font-size: 30px;
    line-height: 36px;
  }
  .article-content {
    @include p-style;
    margin: 25px auto;
  }
  .article-footer {
    display: flex;
    justify-content: space-between;
    .date {
      @include p-style;
    }
    .read-more {
      @include h-style;
    }
  }
  .image-container-latest {
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
}

.article-others {
  .article-title {
    @include h-style;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }
  .article-content {
    @include p-style;
    padding: 18px;
  }
  .article-footer {
    display: flex;
    padding: 18px;
    justify-content: space-between;
    .date {
      @include p-style;
    }
  }
}

.article-highlight {
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .article-text {
    width: 50%;
    padding: 100px 65px;
    .article-title {
      @include h-style;
      font-size: 20px;
      line-height: 24px;
      margin-top: 20px;
    }
    .article-content {
      @include p-style;
      margin-top: 25px;
    }
    .article-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 31px;
      .date {
        @include p-style;
      }
      .read-more {
        @include h-style;
      }
    }
  }
  .image-container-highlight {
    height: 100%;
    img {
      object-fit: cover;
    }
  }
}
