@import "../main";

.nav {
  margin-top: 2.188rem;
  display: flex;
  justify-content: space-between;
  width: auto;
  @include tablet {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    margin-right: 5rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.118rem;
    a {
      display: inline;
      margin: 0 2.25rem;
    }
    a:hover {
      color: #6b46c1;
    }
  }
}
