@import "../../styles/main.scss";

.hero {
  margin-top: 30px;
  background-color: $bg-color;
  display: flex;
  justify-content: space-evenly;
  padding: 4.5rem 6.875rem;
  width: 100%;
  align-items: center;
  .hero-text {
    @include p-style;
    font-size: 1.875rem;
    line-height: 2.25rem;
    width: 50%;
    h1 {
      font-weight: bold;
      font-size: 3.375rem;
      line-height: 4.063rem;
      color: black;
    }
    p {
      margin-top: 30px;
    }
  }
  .hero-pic {
    width: 50%;
    img {
      object-fit: cover;
    }
  }
}
